mixin head()
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		title Team5443: Les PATenteux
		link(rel="stylesheet", href="css/angular-material.min.css")
		link(rel="stylesheet", href="css/app.css")
